ch2_2/.gradle/
ch3/.gradle/
*/.gradle/
ch7/ch7_01/.gradle/
ch7/ch7_02/.gradle/
ch7/ch7_03/.gradle/
ch7/ch7_04/.gradle/
ch7/ch7_05/.gradle/
ch7/ch7_05/build/
ch8/build/
ch9/ch9_01/.gradle/
ch9/ch9_02/.gradle/
ch9/ch9_04/.gradle/
ch10/ch10_01/.gradle/
ch10/ch10_02/.gradle/
ch10/ch10_02/buildSrc/.gradle/
ch10/ch10_02/buildSrc/build/
